* {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
}
menu {
  display: flex;
  flex-direction: column;
  width: 50vh;
  font-size: small;
  font-family: system-ui;
  height: 100vh;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(./img/hand.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;

  width: 100vw;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35rem;
}
.fran {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  border: 1px solid rgba(100, 100, 100, 0.219);
}
.fran img {
  width: 60px;
  border-radius: 50%;
  margin-right: 9%;
  cursor: pointer;
}
.online {
  display: flex;
  margin-left: 5%;
  width: 12vw;
}
.icons {
  font-size: 20px;
  cursor: pointer;
}
.icons:hover,
.icon-2:hover {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.911);
}
.icon-2 {
  margin-right: 10%;
  font-size: 20px;
  cursor: pointer;
}
.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  border: 1px solid rgba(100, 100, 100, 0.219);
}
.boton {
  background-color: blueviolet;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  color: white;
  border: 1px solid black;
  font-size: large;
  cursor: pointer;
}
.boton:hover {
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.911);
}
.usuario img {
  border-radius: 50%;
  width: 60px;
  margin-right: 5%;
  margin-left: 5%;
  cursor: pointer;
}
.usuario {
  height: 10vh;
  display: flex;
  align-items: center;
  border: 1px solid rgba(100, 100, 100, 0.219);
}
.usuario:hover {
  color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.911);
}
@media (max-width: 768px) {
  .icons {
    margin-left: 25%;
  }
}
@media (max-width: 500px) {
  .hero {
    display: none;
  }

  menu {
    width: 100%;
  }

  .chat {
    display: flex;
    flex-direction: column;
    height: 14rem;
  }

  .chat::before {
    content: "";
    background-image: url("./img/hand.png");
    background-size: cover;
    width: 80px;
    height: 80px;
    margin-bottom: 2rem;
  }

  .boton {
    width: 60%;
    height: 40px;
  }
}
